:root{
    --fundo: #FFA07A;
    --cor-frente: #FF7F50;
    --cor-verso: #FFA500;
    --destaque: #FF7F50;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}


footer{
    position: fixed;
    bottom: 0;
    background-color: var(--destaque);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}