:root{
    --fundo: #FFA07A;
    --cor-frente: #FF7F50;
    --cor-verso: #FFA500;
    --destaque: #FF4500;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
}